parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$input of function str_pad expects string, int given\\.$#"
			count: 1
			path: src/Calculator/Iban.php

		-
			message: "#^Binary operation \"\\*\" between string and 2 results in an error\\.$#"
			count: 1
			path: src/Calculator/Luhn.php

		-
			message: "#^Method Faker\\\\Calculator\\\\Luhn\\:\\:computeCheckDigit\\(\\) should return string but returns int\\.$#"
			count: 1
			path: src/Calculator/Luhn.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/Container/ContainerBuilder.php

		-
			message: "#^Method Faker\\\\Generator\\:\\:optional\\(\\) should return Faker\\\\Generator but returns Faker\\\\ChanceGenerator\\.$#"
			count: 1
			path: src/Generator.php

		-
			message: "#^Method Faker\\\\Generator\\:\\:unique\\(\\) should return Faker\\\\Generator but returns Faker\\\\UniqueGenerator\\.$#"
			count: 1
			path: src/Generator.php

		-
			message: "#^Method Faker\\\\Generator\\:\\:valid\\(\\) should return Faker\\\\Generator but returns Faker\\\\ValidGenerator\\.$#"
			count: 1
			path: src/Generator.php
